-- Add coaching sessions table
CREATE TABLE IF NOT EXISTS public.coaching_sessions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    student_id UUID REFERENCES public.students(id) ON DELETE CASCADE,
    mentor_name TEXT,
    directive TEXT,
    session_date TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Seed directives for top students (including Admins)
INSERT INTO public.coaching_sessions (student_id, mentor_name, directive)
SELECT id, 'Sarah Mitchell', 'Refine your summer interest profile for Stanford Summer Institutes.'
FROM public.students
LIMIT 10;
